@media (min-width: 321px) and (max-width: 375px) {  /* S phones (321–375px) */
      body { font-size: 15px; padding: 0.75rem; 
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transform: scale(75);
    
    } 
      .header, .footer { height: 3rem; }
    }
    @media (min-width: 376px) and (max-width: 414px) {  /* M phones (376–414px) */
      body { font-size: 16px; 
        padding: 1rem;  
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transform: scale(75);
    
    
    }
      .sidebar { display: none; }
    }
    @media (min-width: 415px) and (max-width: 480px) {  /* L phones (415–480px) */}

    